/* INSERT SOME FREAKIN' CSS HERE */


div.overflow {
    width: 150px;
    height: 150px;
    overflow: scroll;
}

div{
  height: 100px;
  width: 100px;
  position: absolute;
}

.p {
    font-family: verdana;
    font-size: 20px;
}

.red{
  background-color: red;
  left: 30px;
  z-index: 3
}
.blue{
  background-color: blue;
  left: 60px;
  z-index: 2
}
.green{
  background-color: green;
  left: 90px;
  z-index: 1;
}

h1.one{
  color: tomato;

}

@media only screen and (max-width: 500px) {
   body {
     background-color: lightblue;
   }
}



  }
